footer{
    background-color: rgb(74, 4, 94);
    color: #fff !important;
}
footer h6{
    font-size: 1.5em;;
}
footer table tr td{
    vertical-align: top;
}
footer table tr td ul li a{
    color: #fff !important;
}
#tablefooter{
    width: 90vw;
    margin: 0 auto;
}
#tablefooter-col-1{
    width: 30%;
}
#tablefooter-col-2{
    width: 40%;
}
.tablefooter-col-2-input {
    width: 90%;
    margin-top: 15px;
    border-radius: 15px;
    padding : 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.tablefooter-col-2-input:focus {
    border-color: rgb(255, 0, 0);
    border-width: 7px;
    border-style: solid;
}
#tablefooter-col-2 button{
    width: 100%;
    background-color: aqua;
}
/* #tableReseau {
    width: 15%;
} */
#tableReseau td{
    width: 25%;
    text-align: center;
}
#tableReseau td img{
    width: 50%;
}

